body {
    font-family: Arial, sans-serif;
    background: #f4f7f6;
}

.container {
    width: 400px;
    margin: 100px auto;
    padding: 20px;
    background: white;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

button {
    margin-top: 10px;
    padding: 10px;
    width: 100%;
    background: green;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#result {
    margin-top: 20px;
    font-size: 18px;
}
